 /* HOME PAGE ADS CSS*/
 .ad-box {
    min-width: 250px;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #514646; 
}
.ad-box p {
    font-size: 13px !important;
    color: aliceblue;
}
/* .ad-box {
    min-width: 200px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; 
} */
/* fix 200*200 height width */
/* .ad-box {
    width: 200px;  
    height: 200px;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    background-color: #f0f0f0; 
}
.ad-box img {
    width: 200px;  
    height: 200px;  
    object-fit: cover; 
} */


/* Home page mobile only*/
.header_ads {
    display: none; /* Hide by default */
}

@media (max-width: 768px) { 
    .header_ads {
        display: block; /* Show only on mobile */
    }
}


  
/* DETAILS PAGE ADS CSS*/
#g-detail-desktop-ads {
    display: block;
}

#g-detail-mobile-ads {
    display: none;
}

@media (max-width: 768px) {
    #g-detail-desktop-ads {
        display: none;
    }
    #g-detail-mobile-ads {
        display: block;
    }
}
#g-detail-desktop-ads, #g-detail-mobile-ads {
    transition: all 0.3s ease;
}

/*#FloatAdx-left {*/
/*    right: 60%; */
/*    margin-right: 515px; */
/*    top: 110px;*/
/*    position: fixed;*/
/*    height: 600px;*/
/*    width: 120px;*/
    /*background:#dfe4ea;*/
    /*box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);*/
/*}*/
/*@media only screen and (max-width:1350px) {*/
/*    #FloatAdx-left {*/
/*        display: none*/
/*    }*/
/*}*/
/*#FloatAdx-right {*/
/*    left: 60%; */
/*    margin-left: 515px; */
/*    top: 110px;*/
/*    position: fixed;*/
/*    height: 600px;*/
/*    width: 160px;*/
/*}*/
/*@media only screen and (max-width:1350px) {*/
/*    #FloatAdx-right {*/
/*        display: none*/
/*    }*/
/*}*/





/* Floating Ads */
#FloatAdx-left, #FloatAdx-right {
    /*background:#dfe4ea;*/
    position: fixed;
    top: 110px;
    height: 600px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Position Left Ad */
#FloatAdx-left {
    left: calc(50% - (var(--container-width) / 2) - 150px); 
}

/* Position Right Ad */
#FloatAdx-right {
    right: calc(50% - (var(--container-width) / 2) - 150px);
}

/* Define container width for different screen sizes */
@media (min-width: 576px) {
    :root { --container-width: 540px; }
}

@media (min-width: 768px) {
    :root { --container-width: 720px; }
}

@media (min-width: 992px) {
    :root { --container-width: 960px; }
}

@media (min-width: 1200px) {
    :root { --container-width: 1140px; }
}

@media (min-width: 1400px) {
    :root { --container-width: 1320px; }
}

/* Adjust for smaller screens */
@media only screen and (max-width: 992px) {
    #FloatAdx-left, #FloatAdx-right {
        width: 100px;
        height: 500px;
    }
    #FloatAdx-left {
        left: calc(50% - (var(--container-width) / 2) - 120px);
    }
    #FloatAdx-right {
        right: calc(50% - (var(--container-width) / 2) - 120px);
    }
}

/* Hide Ads on Mobile */
@media only screen and (max-width: 768px) {
    #FloatAdx-left, #FloatAdx-right {
        display: none;
    }
}



/* sticky bottom ads */
.sticky-btm{ 
    position: fixed; 
    bottom: 0; left: 0; 
    width: 100%; min-height: 70px; max-height: 200px; 
    padding: 5px 0; 
    box-shadow: 0 -6px 18px 0 rgba(9,32,76,.1); 
    -webkit-transition: all .1s ease-in; transition: all .1s ease-in; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: #fefefe; z-index: 20; } 
    
.sticky-btm-close { 
    width: 30px; height: 30px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 12px 0 0; 
    position: absolute; right: 0; top: -30px; 
    background-color: #fefefe; 
    box-shadow: 0 -6px 18px 0 rgba(9,32,76,.08); } 
    
.sticky-btm .sticky-btm-close svg { width: 22px; height: 22px; fill: #000; } .sticky-btm .sticky-btm-content { overflow: hidden; display: block; position: relative; height: 70px; width: 100%; margin-right: 10px; margin-left: 10px; }
