 /* HOME PAGE ADS CSS*/
 .ad-box {
    min-width: 250px;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #514646; 
}
.ad-box p {
    font-size: 13px !important;
    color: aliceblue;
}
/* .ad-box {
    min-width: 200px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; 
} */
/* fix 200*200 height width */
/* .ad-box {
    width: 200px;  
    height: 200px;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    background-color: #f0f0f0; 
}
.ad-box img {
    width: 200px;  
    height: 200px;  
    object-fit: cover; 
} */

  
/* DETAILS PAGE ADS CSS*/
#g-detail-desktop-ads {
    display: block;
}

#g-detail-mobile-ads {
    display: none;
}

@media (max-width: 768px) {
    #g-detail-desktop-ads {
        display: none;
    }
    #g-detail-mobile-ads {
        display: block;
    }
}
#g-detail-desktop-ads, #g-detail-mobile-ads {
    transition: all 0.3s ease;
}