   html, body {
  overflow-x: hidden; 
}
body .page-content {
    background-color: transparent !important;   
    padding:0px !important;
}
@media (max-width: 992px) {
    .feature-banner .thumb {
        margin-top: 0px !important;
    }
}
.game-details .content {
    background-color: #27292a;
}
.item {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.most-popular{
    padding : 0px !important;
}
.most-popular .item {
 padding: 10px 10px 5px 10px !important;
 margin-bottom: 10px;
}
.most-popular .item h4 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
p {
    font-size: 17px;
    line-height: 30px;
} 
.game-ins {
    margin-top: 25px;
    margin-bottom: 5px;
}
/* .read-more {
    color: #ec6090;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline !important;
}
.read-more:hover {
    color: #ec6090;
} */
.g-ins {
    font-size: 17px;
    color: #ffffffde;
    line-height: 30px;
}
h3 {
    margin-bottom: 5px;
}
.ad-box {
    min-width: 250px;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #514646; 
}
.ad-box p {
    font-size: 13px !important;
    color: #ffffffde;
}
.g-desc {
    margin-top: 5px;
    color: #ffffffde;
} 
.game-tag {
    /* margin-top: 25px; */
    /* background-color: #2c2f30;  */
    padding: 20px 10px 0px 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    /* border-radius: 8px; */
}
.game-category {
    margin-top: 15px;
    background-color: #27292a; 
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 23px;
}
.g-cat {
    margin-left: 10px;
}
#category-container,
#tag-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    margin-top: 10px
}
.category, 
.tag {
    margin: 8px 12px 8px 0px;
    border-radius: 20px;
    transition: transform 0.3s;
    color: #ec6090;
    background-color: transparent;
    border: 1px solid #ec6090;
    padding: 7px 25px;
    display: inline-block;
    cursor: pointer;
}
.category:hover, .tag:hover {
    transform: scale(1.1);
    background-color: #fff; 
}
.main-profile {
    padding: 10px;
}

.feature-banner .thumb {
    border: 6px solid #db4176;
    border-radius: 25px;
    width: 100%; 
    aspect-ratio: 18 / 9; 
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f1f1f; 
    transition: background-image 0.3s ease-in-out;
}
.feature-banner .thumb .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background: inherit;
    filter: blur(10px);
    opacity: 0.6;
    z-index: 0;
    transition: opacity 0.3s ease-in-out;
}
@media (max-width: 768px) {
    .feature-banner .thumb {
        max-width: 100%;
        aspect-ratio: 6 / 3; 
        border-width: 4px;
    }
}