html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
  /* background-color: rgb(67, 77, 77);  */
  background-color: #222; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #3e8e41;
}

.control {
  text-align: center;
  color: white;
  margin-top: 15px;
}

canvas {
  background: #000;
  border: 2px solid #625252;
  width: 1000px; /* Increase canvas width */
  height: 700px; /* Increase canvas height */
}