
/* Sticky  */
#FloatAdx-left, #FloatAdx-right {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background: #dfe4ea;
    height: 600px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
#FloatAdx-left {
    left: calc(50% - 700px);
}
#FloatAdx-right {
    right: calc(50% - 700px);
}
@media only screen and (max-width: 1500px) {
    #FloatAdx-left {
        left: calc(50% - 600px);
    }
    #FloatAdx-right {
        right: calc(50% - 600px);
    }
}
@media only screen and (max-width: 1350px) {
    #FloatAdx-left, #FloatAdx-right {
        display: none;
    }
}
/*top  Styling */
.top-adx {
    background: #dfe4ea;
    position: relative;
    width: 300px;
    height: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
@media (min-width: 1024px) {
    .top-adx {
        left: 14px; /* Fixed position */
    }
}
/*@media (max-width: 768px) {*/
/*    .top-ads {*/
/*        height: 100px !important; */
/*    }*/
/*}*/
