html, body {
    background: #1f2122;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body .page-content {
    margin-top: 110px;
    background-color: #27292a;
    /* padding: 30px 50px 30px 50px; */
    padding: 35px;
    border-radius: 23px;
}

p {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 0px;
    color: #ffffffde;
    /* line-height: 23px;
    margin: 10px;
    margin-left: 10px; */
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 15px;
    /* margin-bottom: 0px; */
    color: #87CEEB;
    /* font-weight: 700; */
}

a {
    color: #CCC;
    text-decoration: none !important;
}

a:hover {
    color: #87CEEB;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: disc; 
    color: #ffffffde;
}

li {
    padding: 5px 0; 
    font-size: 15px; 
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

* {
    box-sizing: border-box;
}