html, body {
  overflow-x: hidden; 
}
.logo {
    margin-left: 40px;
} 
.streamer-img {
    max-width: 46px; border-radius: 50%; margin-right: 15px;
}
.owl-features a {
    display: block; 
    text-decoration: none; 
    color: inherit; 
}
.item {
    position: relative;
}
.hover-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.item:hover .hover-effect {
    opacity: 1;
}    
body .page-content {
    background-color: transparent !important;   
    padding:0px 30px 30px 30px
}
.most-popular {
    margin-top :0px !important;
    padding : 0px !important;
}
.most-popular .item {
 padding: 10px 10px 5px 10px !important;
 margin-bottom: 10px;
}
.most-popular .item h4 {
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 6px;
}
@media (max-width: 767px) {
    body .page-content {
        padding: 0px 0px !important;
    }
}
.item {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.small-box img {
    width: 100%;
    height: auto;
}
.big-box-hight {
    height: 98% !important;
}
.gaming-footer {
    margin-top: 0px;
}
@media (max-width: 576px) { 
    .gaming-footer {
        margin-top: 25px; 
    }
}
.main-g {
    margin-top: 18px !important;
    font-size: 19px !important;
}