/* .collect_diamond {
    background-image: url(../../Assert/image/fff.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 320px;
    margin: 10px 0;
    border-radius: 15px;
  } */

/* ************************************ normal flow *****************************/
.first_finance_normal_flow{
    background-image: url(../../Assert/image/fff/first_finance.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 320px;
    margin: 10px 0;
    border-radius: 15px;
}
.second_finance_normal_flow{
    background-image: url(../../Assert/image/fff/second_finance.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 320px;
    margin: 10px 0;
    border-radius: 15px;
}
.third_finance_normal_flow{
    background-image: url(../../Assert/image/fff/third_finance.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 320px;
    margin: 10px 0;
    border-radius: 15px;
}
.first_health_normal_flow{
    background-image: url(../../Assert/image/fff/first_health.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 320px;
    margin: 10px 0;
    border-radius: 15px;
}
.second_health_normal_flow{
    background-image: url(../../Assert/image/fff/second_health.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 320px;
    margin: 10px 0;
    border-radius: 15px;
}
.third_health_normal_flow{
    background-image: url(../../Assert/image/fff/third_health.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 320px;
    margin: 10px 0;
    border-radius: 15px;
}

/* ************************************ coupon flow *****************************/
.first_collect_diamond {
    background-image: url(../../Assert/image/fff/collect_diamond.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 320px;
    margin: 10px 0;
    border-radius: 15px;
}

.collect_your_coupon2 {
    background-image: url(../../Assert/image/fff/collect_your_coupon1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 320px;
    margin: 10px 0;
    border-radius: 15px;
}

.collect_your_coupon1 {
    background-image: url(../../Assert/image/fff/collect_your_coupon2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 320px;
    margin: 10px 0;
    border-radius: 15px;
}

.generate_coupon_code {
    background-image: url(../../Assert/image/fff/generate_coupon_code.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 320px;
    margin: 10px 0;
    border-radius: 15px;
    background-position: center;
}

.your_coupon_code {
    background-image: url(../../Assert/image/fff/your_coupon_code.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 320px;
    margin: 10px 0;
    border-radius: 15px;
    background-position: center;
}



/* ************************************ landing  *****************************/
/* .blog_post_content {
    padding: 15px 0;
  } */
  
  .normal_flow_svg {
    position: relative;
    cursor: pointer;
  }
  
  .collect_diamond_flow1 {
    position: absolute;
    top: 50%;
    left: 33%;
    padding: 33px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .collect_diamond_title {
    font-weight: 700;
    font-size: 26px;
    line-height: 28px;
  }
  
  .collect_diamond_subtext {
    font-weight: lighter;
    font-size: 16px;
    line-height: 22px;
  }
  
  .collect_diamond_btn {
    padding: 12px 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: 1px solid #4479F7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  
  .normal_flow_svg a {
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 0;
  }
  
  /* i.fa-solid.fa-play {
    cursor: pointer;
    color: #2F9CD9;
    font-size: 25px;
  } */
  
  .select-option {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 10px 0 14px 0;
  }
  
  .select-option .items {
    /* padding: 15px; */
    padding: 7px;
    border-radius: 12px;
    border: 1px solid #e75e8d;
    /* background: #1a2f77; */
    /* background: #e75e8d; */
    /* box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.12); */
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: rgba(247, 247, 249, 1);
    transition: all 0.5 ease-in-out;
    cursor: pointer;
  }
  /* .select-option .items {
    display: block;
   
    } */
  
  /* .normal_flow_box{
    margin: 15px 0;
  } */
  
  /* .box {
    padding: 15px;
  } */
  
  /* 
  h2 {
    margin-bottom: 10px;
  } */
  
  .description {
    margin-bottom: 15px;
  }
  
  /* 
  .hidden-content {
    display: none;
  } */
  .normal_flow_option {
    text-align: right;
  }
  
  .coupon_flow_svg {
    position: relative;
    cursor: pointer;
  }
  
  .coupon_next_btn {
    position: absolute;
    right: 50%;
    left: 50%;
    top: 81%;
    padding: 8px 20px;
    background-color: #2F9CD9;
    border-radius: 12px;
    color: white;
    transform: translate(-50%, -50%);
    width: fit-content;
    cursor: pointer;
  }
  
  .coupon_next_btn:hover {
    color: white;
  }
  
  .coupon_generate_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 12px;
    border-radius: 12px;
    border: 0px;
    background-color: #2F9CD9;
    color: white;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .coupon_validate_btn {
    padding: 7px 6px;
    border-radius: 12px;
    border: 0px;
    background-color: #2F9CD9;
    color: white;
    margin: 10px 0 0 0;
  }
  
  .coupon-container {
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin: 20px; */
    position: absolute;
    bottom: 5%;
    left: 49%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
  }
  
  .coupon-input {
    padding: 8px 12px;
    border: 1px solid #4479F7;
    border-radius: 10px;
    background: #040E32;
    color: white;
    height: 23px;
    width: 274px;
  }
  
  .copy-btn {
    padding: 11px 15px;
    background: #3A5AC6;
    border: 1px solid #4479F7;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
  }
  
  .toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
  }


/* ************************************ responsive  *****************************/



@media (max-width:475px) {

    .first_collect_diamond,.collect_your_coupon2 ,.collect_your_coupon1,.generate_coupon_code,.your_coupon_code,.first_finance_normal_flow,.second_finance_normal_flow,.third_finance_normal_flow,.first_health_normal_flow,.second_health_normal_flow,.third_health_normal_flow{
        height: 290px !important;
        margin: 10px 0;
    }
}
@media (max-width:450px) {
    .first_collect_diamond,.collect_your_coupon2,.collect_your_coupon1,.generate_coupon_code,.your_coupon_code,.first_finance_normal_flow,.second_finance_normal_flow,.third_finance_normal_flow,.first_health_normal_flow,.second_health_normal_flow,.third_health_normal_flow{
        height: unset !important;
        background-size: cover !important;
        min-height: 275px !important;
    }
    /* nav #show-menu:checked~.nav-content .links {
      transform: translate(0%, 0%);
    }
  
    nav .nav-content .links {
      transform: translate(0%, -110%);
    } */
  
    .wrapper {
        max-width: 100%;
      }
    
      .blog_text_part {
        width: 73%;
      }
    
      .blog_images_part {
        width: 32%;
      }
    
      nav .nav-content .links {
        max-width: unset;
        width: 100%;
      }
    
      .wrapper nav {
        max-width: 100% !important;
        padding: 0 15px;
        width: 100%;
        max-width: calc(100% - 0px);
      }
    
      .wrapper {
        max-width: unset;
      }
    
      .nav-content .logo a {
        font-size: 23px;
      }
    
      .wrapper .search-box {
        max-width: calc(100% - 70px);
      }
    
      .wrapper .search-box .go-icon {
        width: 30px;
        right: 0;
      }
    
      .wrapper .search-box input {
        padding-right: 30px;
      }
}
@media (max-width:375px) {
    .first_collect_diamond,.collect_your_coupon2,.collect_your_coupon1,.your_coupon_code{
        height: unset !important;
        background-size: cover !important;
        min-height: 235px !important;
    }

    .generate_coupon_code{
        height: unset !important;
        background-size: cover !important;
        min-height: 235px !important;
        background-position: center;
    }
    
    .first_finance_normal_flow,.second_finance_normal_flow,.third_finance_normal_flow,.first_health_normal_flow,.second_health_normal_flow,.third_health_normal_flow{
        height: unset !important;
        background-size: cover !important;
        min-height: 244px !important;
    }
}
@media (max-width:350px) {
    .first_finance_normal_flow,.second_finance_normal_flow,.third_finance_normal_flow,.first_health_normal_flow,.second_health_normal_flow,.third_health_normal_flow {
        background-position-x: center;
        background-size: contain !important;
        min-height: 212px !important;
    }
}

/* ************************************ responsive  *****************************/
